<?xml version="1.0"?>
<!--
/**
 * Copyright © Indrajit, Inc. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="indrajit" translate="label" sortOrder="100">
            <label>Indrajit</label>
        </tab>
        <section id="indrajit_facebook_pixel" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Facebook Pixel</label>
            <tab>indrajit</tab>
            <resource>Indrajit_FacebookPixel::config_system</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Facebook Pixel</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Version 1.0.0</comment>
                </field>
                <field id="pixel_id" translate="label" type="text" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Pixel ID</label>
                    <validate>required-entry validate-number</validate>
                    <comment>Input Your Facebook Pixel ID.</comment>
                    <depends><field id="*/general/active">1</field></depends>
                </field>
                <field id="disabled_pageview" translate="label" type="textarea" sortOrder="16" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Disable PageView on</label>
                    <comment>Action name separated by , (comma) e.g. catalog_product_view</comment>
                    <can_be_empty>1</can_be_empty>
                    <depends><field id="*/general/active">1</field></depends>
                </field>
            </group>
            <group id="indrajit_facebook_pixel_event_tracking" type="text" translate="label" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Track Event On</label>
                <field id= "product_view" translate="label" type="select" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Product View</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="category_view" translate="label" type="select" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Category View</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="add_to_cart" translate="label" type="select" sortOrder="13" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Add to Cart</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="initiate_checkout" translate="label" type="select" sortOrder="14" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Initiate Checkout</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="purchase" translate="label" type="select" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Purchase</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="add_to_wishlist" translate="label" type="select" sortOrder="16" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Add to Wishlist</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="registration" translate="label" type="select" sortOrder="17" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Registration</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="subscribe" translate="label" type="select" sortOrder="18" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Subscribe</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="search" translate="label" type="select" sortOrder="19" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Search</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="quick_search" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Quick Search</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>

    </system>
</config>
